<div class="row">
  <div class="col-8 col-md-8 col-sm-12">
    <div class="text-white m-lg-5">
      <h2>DEMO APP</h2>
    </div>
  </div>
  <div class="col-4 col-md-4 col-sm-12">
    <div class="nav mt-lg-5">
      <ul class="nav justify-content-end ">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeLink == 'Home'" aria-current="page" routerLink="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [class.active]="activeLink == 'Profile'" aria-current="page" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " routerLink="#">jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" routerLink="#">client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " routerLink="#">contact us</a>
        </li>
      </ul>
    </div>
  </div>
</div>