.header {
  height: 530px;
  width: 100%;
  background-image: url(/assets/image/pexels-hasan-albari-1229861.jpg);
}

.body {
  background-color: rgba(243, 231, 231, 0.842);
  width: 100%;
  height: 400px;
}

.custom-select {
  display: inline-block;
}