<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <div class="modal-title fs-5" id="exampleModalLabel">{{ title }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4 text-center">
              <img id="box" src="/assets/image/download.jpg">
              <input type="file" #fileInput style="display:none" (change)="onFileSelected($event)" accept="image/*" />
              <a href="javascript:void(0)" (click)="fileInput.click()" class="mt-2">upload your photo</a>
            </div>

            <div class="col-sm-8">
              <mat-form-field class="col-6">
                <mat-label>First name</mat-label>
                <input matInput formControlName="fname">
                <mat-error *ngIf="registrationForm.controls['fname'].hasError('required')">
                   Name is required
                </mat-error>
                <mat-error *ngIf="registrationForm.controls['fname'].hasError('pattern')">
                  Enter valid name
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-6">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lname">
                <mat-error *ngIf="registrationForm.controls['lname'].hasError('required')">
                  Name is required
                </mat-error>
                <mat-error *ngIf="registrationForm.controls['lname'].hasError('pattern')">
                  Enter valid name
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-12">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error
                  *ngIf="registrationForm.controls['email'].hasError('email') && !registrationForm.controls['email'].hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-12">
                <mat-label>Contact</mat-label>
                <input matInput type="number" placeholder="(541)754-3010" maxlength="10" formControlName="contact">
                <mat-error *ngIf="registrationForm.controls['contact'].hasError('required')">
                  Contact is required
                </mat-error>
              </mat-form-field>

              <div class="row">
                <label class="col-10">Age</label>
                <label class="col">{{registrationForm.controls['age'].value}}</label>
                <div class="col-12 mt-3">
                  <input type="range" class="form-control-range" formControlName="age" min="0" max="100" value="25" />
                </div>
              </div>

              <div class="col-12 mt-3">
                <select formControlName="state" class="form-select" placeholder="State" required>
                  <option value="" disabled selected>State</option>
                  <option value="Maharashtra">Maharastra</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujrat">Gujrat</option>
                </select>
              </div>

              <div class="col-12 mt-3">
                <select formControlName="country" class="form-select" required>
                  <option value="" disabled selected>Country</option>
                  <option value="India">India</option>
                  <option value="USA">USA</option>
                  <option value="Hk">Hk</option>
                </select>
              </div>

              <mat-form-field class="col-12 mt-3">
                <mat-label>Address</mat-label>
                <textarea  matInput formControlName="address"></textarea>
                <mat-error *ngIf="registrationForm.controls['address'].hasError('required')">
                  Address is required
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="col-12">
                <mat-label>Tags</mat-label>
                <mat-chip-grid #chipGrid>
                  <mat-chip-row *ngFor="let item of registrationForm.controls['tags'].value"
                    (removed)="removeTag(item)">
                    {{ item }}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                  <input placeholder="New Tag" [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="addTag($event)" />
                </mat-chip-grid>
              </mat-form-field>

              <div class="form-check mt-2">
                <input class="form-check-input" id="gridCheck" type="checkbox" formControlName="newslater" />
                <label class="form-check-label" for="gridCheck">
                  subscribe to newslater
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close" class="btn btn-primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>