#box {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  background-color: #fff;
  background-repeat: no-repeat;
}

a {
  margin-top: 2px;
  text-decoration: none;
}

.error-text {
  color: red;
  font-size: small;
}

.form-control-range {
  width: 100%;
}

.modal-header {
  color: white;
}

.btn-close {
  background-color: white;
}
